.about {
	// background: #003764;
  // background: #004778; // Invision
	color: white;
  padding: 3em 0;

  &__header {
    font-size: 3em;
    color: white;
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
  }

  &__info {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
