/******************************************************************
Main Stylesheet
******************************************************************/

/*********************
IMPORTING BASE
*********************/

@import "base/normalize";
@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "base/grid";
@import "base/base";

/*********************
IMPORTING MODULES
*********************/

@import "modules/accordion";
@import "modules/buttons";
@import "modules/clearfix";
@import "modules/forms";
@import "modules/links";
@import "modules/media";
@import "modules/progress";
@import "modules/sidebar";
@import "modules/social";
@import "modules/tables";
@import "modules/hero";
@import "modules/requestInfoButton";

/*********************
IMPORTING PARTIALS
*********************/

@import "partials/header";
@import "partials/nav";
@import "partials/footer";
@import "partials/about";
@import "partials/form";

/*********************
IMPORTING PAGES
*********************/

@import "pages/layout";
@import "pages/home";
@import "pages/page";
@import "pages/post";
@import "pages/policy";

/*********************
PRINT
*********************/
@media print { @import "partials/print"; }

body {
  margin: 0 !important;
}

.banner {
  // display: none;
}


	iframe#_dummy {
		height: 600px;
		width: 100%;
	}

	body {
margin: 0;
padding: 0;
}

html, body {
height:100%;
}

iframe {
width: 100%;
border: 0;
}

div.section-control .title {
    padding: 0;
    border: 0;
    margin: 0;
}

div.section-control {
    border: none;
}

ul.page-child-helper li.page-child-wrapper {
    margin: 0;
}

.dynamic-form-required.legend {
    display: none;
}

.form-action-bar.bottom {
    padding: 0 5px;
    margin: 0;
}

button.submit.fg-button.ui-state-default.ui-corner-all {
    width: 100%;
    display: block;
    min-width: 100%;
}



.header__nav .menu-item.requestInfoButton:after {
    display: none;
    transition: .25s ease;
}

.header__nav .menu-item.requestInfoButton:hover:after,
.header__nav .menu-item.requestInfoButton:focus:after {
    display: block;
    transition: .25s ease;
}
