/*********************
LINK STYLES
*********************/

a, a:visited {
	// color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: white;
		text-decoration: underline;
	}

	/* mobile tap color */
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}
