.requestInfoButton {
	background: $cyan;
	color: white;
	// font-size: 2em;
	border: none;
	// padding: .5em 1em;
  position: relative;
	margin-left: 1em;
	text-transform: uppercase;
	transition: all 0.25s ease;

	&:focus,
	&:hover {
		background: $darkCyan;
	}
}

.requestOptions {
	position: absolute;
	font-size: 0.5em;
	padding-left: 0;
	text-align: left;
	background: rgba(97,148,185,.57);
	width: 100%;
	padding: 0.5em;
	box-sizing: border-box;
  display: none;
	background: white;

	li {
		width: 100% !important;
		font-size: .8em  !important;

		@include susy-breakpoint($bp-med) {
		    font-size: 1em;
		}
		a {
			text-align: left;
			color: #003861 !important;
			text-transform: capitalize !important;
			font-size: 3em !important;
		}
	}

}
